<section class="flex flex-col gap-6">
  <!--  User-->
  <div class="user flex flex-col">
    <div class="flex flex-row bg-purple-600">
      <img
        class="h-16 w-16"
        [ngSrc]="user.avatar"
        height="234"
        width="234"
        alt="user avatar"
      />
      <div>
        <p>Report for</p>
        <p>{{ user.name }}</p>
      </div>
    </div>
    <div class="flex flex-row">
      @for (frame of timeFrames; track $index) {
        <span (click)="onFrameClick(frame)">{{ frame | titlecase }}</span>
      }
    </div>
  </div>

  <!--  Tracks-->
  @if (tracksFilteredByFrame(); as tracks) {
    @for (track of tracks; track $index) {
      <div class="track">
        <div class="flex flex-row justify-between">
          <h3>{{ track.title }}</h3>
          <span>...</span>
        </div>
        <div class="flex flex-row justify-between">
          <h1>{{ track.timeEntry.current }}</h1>
          <small>{{ track.timeEntry.previous }}</small>
        </div>
      </div>
    } @empty {
      <p>No tracks available</p>
    }
  } @else {
    <p>Network error!</p>
  }
</section>
