<section>
  <!--  User-->
  <div class="user">
    <!--    Avatar-->
    <div class="avatar">
      <img [ngSrc]="user.avatar" height="234" width="234" alt="user avatar" />
      <div class="report">
        <span class="text-preset-6 text-navy-200">Report for</span>
        <p class="text-preset-4 md:text-preset-2 text-white">{{ user.name }}</p>
      </div>
    </div>
    <!--    Frames-->
    <div class="frames">
      @for (frame of timeFrames; track $index) {
        <span
          class="text-preset-5-regular text-purple-500 hover:cursor-pointer hover:text-white"
          [ngClass]="{
            'text-white': selectedFrame() === frame,
          }"
          (click)="onFrameClick(frame)"
        >
          {{ frame | titlecase }}
        </span>
      }
    </div>
  </div>

  <!--  Tracks-->
  @if (tracksFilteredByFrame(); as tracks) {
    @for (track of tracks; track $index) {
      <div class="track-container" ngClass="{{ track.color }}">
        <div class="absolute -top-2.5 right-4 z-1 flex flex-col items-end">
          <img
            class="sm:h-14 sm:w-14"
            src="{{ track.icon }}"
            width="78"
            height="78"
            alt="icon"
          />
        </div>

        <div class="track z-2">
          <div class="flex flex-row items-center justify-between">
            <h3 class="text-preset-5-medium text-white">{{ track.title }}</h3>
            <svg
              class="hover:cursor-pointer hover:fill-white"
              fill="#BBC0FF"
              width="21"
              height="5"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M2.5 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Z"
                fill-rule="evenodd"
              />
            </svg>
          </div>
          <div
            class="flex flex-row items-center justify-between gap-2 sm:flex-wrap"
          >
            <h1 class="text-preset-3 sm:text-preset-1 text-white">
              {{ track.timeEntry.current }}hrs
            </h1>
            <small class="text-preset-6 text-navy-200">
              Last Week - {{ track.timeEntry.previous }}hrs
            </small>
          </div>
        </div>
      </div>
    } @empty {
      <p>No tracks available</p>
    }
  } @else {
    <p>Network error!</p>
  }
</section>
